<h1>APS-API</h1>


<div id="content"><h1>Class: Sessions</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">Devise::SessionsController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">Devise::SessionsController</li>
        <li class="next">SessionsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/sessions_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">- (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/sessions&#39; POST - User - Creates users session</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {email, password}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="destroy-instance_method">- <strong>destroy</strong></h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/logout&#39; DELETE - User - Destroys users session</p>
        </div>
      </div>
      <div class="tags">
      </div>
    </div>
  </div>
</div>


<div id="content"><h1>Class: Registrations</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">Devise::SessionsController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">Devise::SessionsController</li>
        <li class="next">RegistrationsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/registrations_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">- (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>Path: /registrations POST - User &amp; Admin - Registration action. User can register to application or Admin can add the user.</p>
        </div>
      </div>
      <div class="tags"><p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {email, password, password_confirmation, name, surname, position_id, admin}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content"><h1>Class: Users</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">UsersController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/users_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="get_user_status-instance_method">
        - (<tt>Boolean</tt>) <strong>get_user_status</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>GET - Admin - Check user status. Returns true if user is logged in.</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Boolean</tt>)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">- (<tt>Array</tt>) <strong>index</strong></h3>
      <div class="docstring">
        <div class="discussion">
          <p>GET - Admin - Array with all users.</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array with all users</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="content"><h1>Class: Equipment</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">EquipmentController</li>
      </ul>
      <a href="#" class="inheritanceTree">show all</a>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/equipment_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/equipment/create&#39; POST - Admin - Add new project</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {name, eq_type}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/equipment/index&#39; GET - get euipment</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of equipment</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/equipment/show&#39; GET - Add show project with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with equipment Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content"><h1>Class: Material</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">MaterialsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/materials_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/materials/create&#39; POST - Add new material to database</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {material: {name, quantity}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/materials/index&#39; GET - get materials</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of materials obejcts</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/materials/show&#39; GET - Add show material with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with material Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content"><h1>Class: Position</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">PositionsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/positions_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/positions/create&#39; POST - Add new positions to database</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {position: {title}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/positions/index&#39; GET - get positions</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of positions obejcts</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/positions/show&#39; GET - Add show position with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with position Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content"><h1>Class: Production</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">ProductionsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/productions_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/productions/create&#39; POST - Add new productions to database</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {production: {product_id, project_id, quantity}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/productions/index&#39; GET - get productions</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of productions obejcts</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/productions/show&#39; GET - Add show production with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with production Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div id="content"><h1>Class: Product</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">ProductsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/products_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/products/create&#39; POST - Add new products to database</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {product: {name, product_type}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/products/index&#39; GET - get products</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of products obejcts</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/products/show&#39; GET - Add show product with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with product Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="content"><h1>Class: Projects</h1>
  <dl class="box">
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName">ApplicationController</span>
      <ul class="fullTree">
        <li>Object</li>
        <li class="next">ActionController::Base</li>
        <li class="next">ApplicationController</li>
        <li class="next">ProjectsController</li>
      </ul>
    </dd>
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">app/controllers/projects_controller.rb</dd>
  </dl>
  <div class="clear"></div>
  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>
    <div class="method_details first">
      <h3 class="signature first" id="create-instance_method">
        - (<tt>Object</tt>) <strong>create</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/projects/create&#39; POST - Add new project to database</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>data: {project: {email, password, password_confirmation, name, surname, position_id, admin}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="index-instance_method">
        - (<tt>Array</tt>) <strong>index</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/projects/index&#39; GET - get projects</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Array</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON Array of projects obejcts</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="method_details ">
      <h3 class="signature " id="show-instance_method">
        - (<tt>Object</tt>) <strong>show</strong>
      </h3>
      <div class="docstring">
        <div class="discussion">
          <p>PATH: &#39;/projects/show&#39; GET - Add show project with given id</p>
        </div>
      </div>
      <div class="tags">
        <p class="tag_title">Parameters:</p>
        <ul class="param">
          <li>
            <span class='name'>params</span>
            <span class='type'>(<tt>JSON</tt>)</span>&mdash;
            <div class='inline'>
              <p>data: {id}</p>
            </div>
          </li>
        </ul>
        <p class="tag_title">Returns:</p>
        <ul class="return">
          <li>
            <span class='type'>(<tt>Object</tt>)</span>
            &mdash;
            <div class='inline'>
              <p>JSON with project Object</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





